@model IEnumerable<OlwandleHotel.Models.EventBooking>
@using OlwandleHotel.Models

@{
    ViewBag.Title = "My Events";
}

<h2 class="text-center text-success">Booked Events</h2>
<h4 class="text-center text-info">Your Event History</h4>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Event.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateBooked)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Event.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketNumber)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Where(x => x.CustomerName == User.Identity.GetFirstName()))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Event.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateBooked)
            </td>
            <td>
                R @Html.DisplayFor(modelItem => item.Event.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketNumber)
            </td>
            <td>
                @Html.ActionLink("Review", "Details", "EventBookings", new { id = item.EventBookingId }, null)
            </td>
        </tr>

    }

</table>

