@model OlwandleHotel.Models.Room

@{
    ViewBag.Title = "Details";
}

<h2>@Model.NumBeds Bedroom House At @Model.RoomLocation</h2>

<div>
    <h4>Room</h4>
    <hr />
    <dl class="dl-horizontal">
      
        <img src="data:image/png;base64,@Convert.ToBase64String(Model.Picture, 0, Model.Picture.Length)" style="width: 600px; height: 360px" />
                 
        <dt>
            @Html.DisplayNameFor(model => model.RoomStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxOccupants)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxOccupants)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumBeds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumBeds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumBaths)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumBaths)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumLivingRooms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumLivingRooms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FixedCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FixedCost)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RoomId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
