@model OlwandleHotel.Models.Room

@{
    ViewBag.Title = "Details";
}

<h2 style="text-align:center">@Model.NumBeds Bedroom House At @Model.RoomLocation</h2>

<img src="data:image/png;base64,@Convert.ToBase64String(Model.Picture, 0, Model.Picture.Length)" style="width: 600px; height:360px; align-self:center;" />

<div>
    @if (Model.RoomStatus == true)
    {
        <h4 style="text-align:center; color:forestgreen;"> Available For Reservation</h4>
    }
    else
    {
        <h4 style="text-align:center; color:red;"> Currently Reserved </h4>
    }
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.MaxOccupants):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxOccupants)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumBeds):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumBeds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumBaths):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumBaths)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumLivingRooms):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumLivingRooms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FixedCost):
        </dt>

        <dd>
           R @Html.DisplayFor(model => model.FixedCost)
        </dd>

    </dl>
</div>
<p>
    @if (Model.RoomStatus == true)
    {
        <a href="@Url.Action(actionName: "Payment", controllerName: "ReservedBookings", routeValues: new {id = Model.RoomId})" class="btn btn-success"><i class="fa fa-shopping-cart"></i>Confirm Reservation</a>
    }
    else
    {
        <a href="@Url.Action(actionName: "Payment", controllerName: "ReservedBookings", routeValues: new {id = Model.RoomId})" class="btn btn-danger disabled"><i class="fa fa-shopping-cart"></i>Reserved</a>
    }
    
    @Html.ActionLink("Back to List", "AllRooms")
</p>
