@model OlwandleHotel.Models.Room

@{
    ViewBag.Title = "Details";    
}

<h2 class="text-center">@Model.NumBeds Bedroom Suite At @Model.RoomLocation</h2>

<div>
    <hr />
    <div class="col-md-offset-2 col-md-10" style=" left:11.5%; padding-bottom: 30px">
        <img src="data:image;base64,@System.Convert.ToBase64String(Model.RoomPicture)" class="img-rounded" style="min-width: 360px; max-width: 480px; width: 480px; min-height: 200px; max-height: 280px; height: 280px; background-size: contain;">
    </div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RoomAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoomNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxOccupants)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxOccupants)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumBeds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumBeds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumBaths)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumBaths)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumLivingRooms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumLivingRooms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>

        <dd>
            R @Html.DisplayFor(model => model.Cost)
        </dd>
                
        <dt>
            <label for="NumNights">Staying For:</label>            
        </dt> 
        
        <dd>
            <input type="text" name="NumNights" value="" /> Nights.
        </dd>    
       
</dl>
</div>



<h2 class="text-center text-success">Location: </h2>
<iframe width="800"
        height="480"
        frameborder="0" style="position : relative; left : 15%;"
        src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyBNcE7mezvGDziXJG3p8wvchw5SSZMnUiQ&origin='@ViewBag.CurrentLocation'&destination='@ViewBag.DeliveryAddress'&avoid=tolls|highways" allowfullscreen>
</iframe>

<br />
<br />
<br />

<p>
    <a href="@Url.Action(actionName: "Book", controllerName: "Rooms", routeValues: new { id = Model.RoomId, numNights = 3 })" class="btn btn-info"><i class="fa fa-shopping-cart"></i>Book Now</a>
    <a href="@Url.Action(actionName: "Index", controllerName: "Rooms")" class="btn btn-success"><i class="fa fa-shopping-cart"></i>View Other Events</a>
</p>
