@model IEnumerable<OlwandleHotel.Models.Room>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Hotel.HotelLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HotelId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomPicture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxOccupants)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumBeds)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumBaths)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumLivingRooms)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomsAvailable)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Hotel.HotelLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HotelId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomPicture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxOccupants)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumBeds)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumBaths)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumLivingRooms)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomsAvailable)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RoomId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RoomId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RoomId })
        </td>
    </tr>
}

</table>
