@model OlwandleHotel.Models.Event

@{
    ViewBag.Title = "Details";
}


<h2 class="text-center">@Model.Name</h2>
<h4 class="text-center">An in-depth description of this event...</h4>

<div>
    <hr />
    <div class="col-md-offset-2 col-md-10" style=" left:11.5%; padding-bottom: 30px">
        <img src="data:image;base64,@System.Convert.ToBase64String(Model.EventPicture)" class="img-rounded" style="min-width: 360px; max-width: 480px; width: 480px; min-height: 200px; max-height: 280px; height: 280px; background-size: contain;">
    </div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketsRemaining)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketsRemaining)
        </dd>


    </dl>
</div>
<p>
    <a href="@Url.Action(actionName: "Book", controllerName: "Events", routeValues: new { id = Model.EventId})" class="btn btn-info"><i class="fa fa-shopping-cart"></i>Book Now</a>
    <a href="@Url.Action(actionName: "Index", controllerName: "Events")" class="btn btn-success"><i class="fa fa-shopping-cart"></i>View Other Events</a>
</p>
