@model OlwandleHotel.Models.ReservedBooking

@{
    ViewBag.Title = "Delete";
}

<h2>Cancel Booking?</h2>

<h3>Are you sure you want to cancel this booking?</h3>
<div>
    <h4>Reservation #@Model.ReservedBookingId</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Room.RoomLocation):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Room.RoomLocation)
        </dd>

        <dt>
            Email Address:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Baths:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Room.NumBaths)
        </dd>

        <dt>
            Beds:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Room.NumBeds)
        </dd>

        <dt>
            Occupants:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Room.MaxOccupants)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReservedCost):
        </dt>

        <dd>
            R @Html.DisplayFor(model => model.ReservedCost)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Cancel Booking" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "PreviouslyReserved")
        </div>
    }
</div>
