<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Paradise Travels", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hotels<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">Hotels</li>                            
                            <li>@Html.ActionLink("View Hotel Information", "Index", "Rooms")</li>                          
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Events<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">Events</li>
                            <li>@Html.ActionLink("View Events", "Index", "Events")</li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Manage Events</li>
                            <li>@Html.ActionLink("Verify Ticket", "Verify", "Events")</li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Aviation<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">Book A Plane Ticket</li>
                            <li>@Html.ActionLink("Book Ticket", "Create", "Flights")</li>
                            <li class="divider"></li>
                            <li class="dropdown-header">View My Tickets</li>
                            <li>@Html.ActionLink("View Flight History", "MyFlights", "Manage")</li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tours<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">Tours</li>
                            <li>@Html.ActionLink("View Tours", "Index", "Tours")</li>
                            <li class="divider"></li>
                            <li class="dropdown-header">View My Tickets</li>
                            <li>@Html.ActionLink("View Tour History", "MyTours", "Manage")</li>

                        </ul>
                    </li>                   

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Paradise Travels</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
