@using Microsoft.AspNet.Identity
@using OlwandleHotel.Models
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

<ul class="nav navbar-nav navbar-right">
    <li>
        @Html.ActionLink("Hello " + User.Identity.GetFirstName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
    </li>
    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
    {
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administative Functions<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Manage Rooms", "Index", "Rooms")</li>
                <li>@Html.ActionLink("Manage Rooms", "Index", "Rooms")</li>
                <li>@Html.ActionLink("Manage Rooms", "Index", "Rooms")</li>
                <li>@Html.ActionLink("Manage Rooms", "Index", "Rooms")</li>
            </ul>
        </li>
    }
    @if (Request.IsAuthenticated && User.IsInRole("Aviation"))
    {
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Flight Attendant Functions<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Manage And Board Customers", "Index", "Flights")</li>
            </ul>
        </li>
    }
    @if (Request.IsAuthenticated && User.IsInRole("Hotel"))
    {
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hotel Staff Functions<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Manage Hotel Customers", "Index", "RoomBookings")</li>
            </ul>
        </li>
    }
    else if (Request.IsAuthenticated)
    {
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("My Events", "MyEvents", "Manage")</li>
                <li>@Html.ActionLink("My Hotel Rooms", "MyRoomBookings", "Manage")</li>
                <li>@Html.ActionLink("My Flights", "MyFlights", "Manage")</li>
                <li>@Html.ActionLink("My Tours", "MyTours", "Manage")</li>

            </ul>
        </li>
    }
    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
</ul>
    }
}
else
{


    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
