@model IEnumerable<OlwandleHotel.Models.RoomBooking>

@{
    ViewBag.Title = "Index";
}


<h2 class="text-center text-info">Hotel Staff Menu</h2>
<h3 class="text-center text-warning">Manage Customer Rooms Here</h3>
<hr />
@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerSurname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Room.RoomLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckinDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckoutDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateBooked)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Room.Cost)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerSurname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room.RoomLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckinDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckoutDate)
            </td>
            <td>
                R @Html.DisplayFor(modelItem => item.DateBooked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room.Cost)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.RoomBookingId })
            </td>
        </tr>
    }

</table>
